<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ug.co.shop4me"
    tools:overrideLibrary="com.facebook">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.LoginActivity"
            android:label="Login"
            android:parentActivityName=".view.activities.SignUpOrLogInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Question2"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".ResetPasswordActivity"
            android:label="Login"
            android:parentActivityName=".view.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Question2"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".view.activities.SignupActivity"
            android:label="Register"
            android:parentActivityName=".view.activities.SignUpOrLogInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Question2"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".view.activities.SignUpOrLogInActivity"
            android:label="Shop4me"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Question2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e15ed5e72393244061247a4a12a9554414641b86"
            tools:replace="android:value" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <activity
            android:name=".view.activities.ProductListActivity"
            android:label="@string/title_activity_fruits"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ug.co.shop4me.view.activities.MainActivity" />
        </activity>
        <activity
            android:name=".view.activities.CartActivity"
            android:label="@string/title_activity_cart"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.ProductDetailsActivity"
            android:label="@string/title_activity_product_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ug.co.shop4me.view.activities.ProductListActivity" />
        </activity>
        <activity
            android:name=".view.activities.ProductsListActivity"
            android:label="@string/title_activity_products_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activities.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar2">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".view.activities.AddressActivity"
            android:label="@string/title_activity_address"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.AddAddressActivity"
            android:label="@string/title_activity_add_address"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".view.activities.MyAccountActivity"
            android:label="@string/title_activity_my_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.OrderDetailsActivity"
            android:label="@string/title_activity_order_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.CheckoutActivity"
            android:label="@string/title_activity_checkout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.PlaceOrderActivity"
            android:label="@string/title_activity_place_order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.LoyaltyPoints"
            android:label="@string/title_activity_loyalty_points"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.OrderSuccessActivity"
            android:label="@string/title_activity_order_success"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".util.MySuggestionProvider"
            android:authorities="ug.co.shop4me.util.MySuggestionProvider" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".view.activities.SearchActivity" />

        <activity
            android:name=".view.activities.NotificationsActivity"
            android:label="@string/title_activity_notifications"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.InstapayActivity"
            android:label="@string/title_activity_instapay"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.InstapayActivity2"
            android:label="@string/title_activity_instapay"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.JoinExpressActivity"
            android:label="@string/title_activity_join_express"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>